body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
}
span{
    margin: 10%;
}
span:hover{
    color: white;
}
.title{
    /* width: 18%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.gameInfo > h3{
    background-color: lightgray;
    border-radius: 10%;
    padding: 5px;
}
.gameInfo{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.firstLayer{
    background-color: rgb(62,217,201);
    z-index: 2;
    visibility: visible;
    grid-row: 2 / span 2;
    grid-column: 2 / span 2;
}
.gameboard{
    margin-top: 1em;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.secondLayer{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdXTKsuROxCnik7k29RdGuAioXk4Ll0tfZpA&usqp=CAU);
    z-index: 1;
    grid-row: 1 / span 4;
    grid-column: 1 / span 4;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* background: rgb(12, 148, 12); */
}
.row1{
    margin-bottom: 10px;
    width: fit-content;
    height: 8%;
    display: flex;
    margin: 0;
}
.row0{
    margin-bottom: 10px;
    width: fit-content;
    height: 2%;
    display: flex;
    margin: 0;
}
.hEdge{
    background-color: white;
    height: 100%;
    width: 4vw;
    border-radius: 20%;
}
.vEdge{
    border-radius: 20%;
    height: 100%;
    width: 1vw;
}
.box{
    border-radius: 10%;
    background-color: white;
    width: 4vw;
    height: 100%;
    border: 1px solid black;
}
.dot{
    background-color: white;
    height: 100%;
    width: 1vw;
    border-radius: 50%;
}

.vEdge, .hEdge, .dot{
    background-color: lightsteelblue;
    border: 1px solid black;

}
.vEdge:hover, .hEdge:hover{
    transform: scale(1.1);
}

button{
    width: 25%;
}
main{
    width: 100%;
    height: 80%;
    /* margin-top: 10%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
}
.rules{
    text-align: center;
    margin: 15px;
    padding: 10px;
    z-index: 1;
    border-radius: 8%;
    background-color: rgb(220,27,40);
    grid-row: 1 / span 3;
    grid-column: 4 / span 1;
    display: flex;
    flex-direction: column;
    
}
.hide{
    z-index: -1;
    /* visibility: visible; */
}
ul{
    text-align: left;
    list-style-position: inside;
    font-size: large;
    font-weight: bold;
    color: white;
}
.slider{
    width: 40%;
    background-color: black;
}
label{
    font-size: 110%;
}
.startButton{
    width: 30%;
    height: 15%;
    background-color: aqua;
    border-radius: 12%;
    font-size: 100%;
    text-align: center;
}
.startButton:hover{
    width: 35%
}
h3{
    margin-top: 0;
}
